.main {
    margin-top: 20px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .main-content {
    width: 95%;
    height: 100%;
    background-color: #F8F8FF;
    border-radius: 8px;
}

.main-content .main-header {
    padding: 30px;
}

.main-content .main-header .main-title {
    margin-bottom: 20px;
    text-align: center;
    cursor: auto;
}

.all-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content .add-button {
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

/* Add new account information*/
.add-new-info {
    height: 50px;
    width: 200px;

    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    color: #FFF;
    background-color: #0F9D58;
}

.add-new-info p {
    padding-top: 15px;
}

.button-add-account {
    margin: 30px 0 30px -20px;
    background-color: #0F9D58;
    width: 50%;
    float: right;
}

/* Expend box zone */
.expand-info {
    margin: 30px;
    height: 50px;
    width: 400px;
    overflow: hidden;

    border-radius: 8px;
    color: #FFF;
    background-color: #3c4a55;

    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.expand-info .website-info {
    text-decoration: none;
    color: #F8F8FF;
}

.expand-info .website-info:hover {
    color: #0F9D58;
}

.expand-info .second-info {
    display: none;
    padding: 30px;
}

.second-info .input-info {
    display: flex;
    flex-direction: row;
}

.input-info .password-info, .username-info, .last-info {
    padding-left: 10px;
    height: 25px;
    width: 60%;
    font-size: 16px;
    color: #FFF;
    background: none;
    border: none;
    pointer-events:none;
}

.input-info p, .input-info-web p{
    width: 100px;
    color: #fff;
    font-weight: bold;
}

.input-info-web {
    display: flex;
    flex-direction: row;
}

.input-info-web a {
    padding: 5px 0 0 10px;
}

.second-info p{
    padding-top: 5px;
}

.second-info input {
    padding-top: 3px;
}

.second-info .password-checkbox {
    margin: 10px 10px 5px 80px;
}

.button-zone {
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-zone button {
    padding: 0;
    margin: 0;
    height: 30px;
    width: 100px;
}

.button-edit {
    background-color: #0F9D58;
    color: #FFF;
    display: block;
}

#button-gen-pass {
    background-color: #3b5998;
    color: #FFF;
}

.button-zone .button-remove {
    background-color: #DB4437;
    color: #FFF;
}

.button-zone .button-save {
    background-color: #0F9D58;
    color: #FFF;
    display: none;
}

#export-section {
    width: 100%;
    margin: 30px;
}

#export-section h5 {
    padding: 5px 0 3px 10px;
    font-weight: 200;
    color: #5c5c5c;
}

#export-section hr {
    width: 300px;
}

#export-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 380px;
}


#export-type button {
    background-color: #3b719f;
    margin: 10px;
    width: 100px;
    height: 35px;
    padding-top: 8px;
}


/* --- search-input --- */

.search {
    margin: 0 30px 20px 30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#searchTerm {
    width: 315px;
    border: 3px solid #3b719f;
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

#searchTerm:focus{
    color: #3b5998;
}

#searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid #3b719f;
    background: #3b719f;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 21px;

    margin-top: 0;
}

#searchButton i{
    margin: -20px;
}

@media screen and (max-width: 450px) {
    .main .main-content {
        width: 100%;
    }

    #expand-info {
        width: 360px;
    }
    #export-type {
        width: 300px;
    }

}

/* clipboard button */
#clipboard {
    cursor: pointer;
    padding-top: 7px;
    margin-left: 25px;
}

#clipboard:hover {
    color: #0F9D58;
}