.main-setting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-page {
    margin: 40px 20px;
}


.main {
    margin-top: 20px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .main-content {
    width: 95%;
    height: 100%;

    background-color: #F8F8FF;
    border-radius: 8px;
}

.main-content .main-header {
    padding: 30px;
}

.main-content .main-header h2 {
    margin-bottom: 20px;
    text-align: center;
}

.all-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content .add-button {
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

/* Add new account information*/
.add-new-info {
    height: 50px;
    width: 200px;

    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    color: #FFF;
    background-color: #0F9D58;
}

.add-new-info p {
    padding-top: 15px;
}

.button-add-account {
    margin: 30px 0 30px -20px;
    background-color: #0F9D58;
    width: 50%;
    float: right;
}

/* Expend box zone */
.expand-info {
    margin: 30px;
    height: 50px;
    width: 400px;
    overflow: hidden;

    border-radius: 8px;
    color: #FFF;
    background-color: #3c4a55;

    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.expand-info .website-info {
    text-decoration: none;
    color: #F8F8FF;
}

.expand-info .website-info:hover {
    color: #0F9D58;
}

.expand-info .second-info {
    display: none;
    padding: 30px;
}

.second-info .input-info {
    display: flex;
    flex-direction: row;
}

.input-info .password-info, .username-info, .last-info {
    padding-left: 10px;
    height: 25px;
    width: 60%;
    font-size: 16px;
    color: #FFF;
    background: none;
    border: none;
    pointer-events:none;
}

.second-info p{
    padding-top: 5px;
}

.second-info input {
    padding-top: 3px;
}

.second-info .password-checkbox {
    margin: 10px 10px 5px 80px;
}

.button-zone {
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-zone button {
    padding: 0;
    margin: 0;
    height: 30px;
    width: 100px;
}

.button-edit {
    background-color: #0F9D58;
    color: #FFF;
    display: block;
}

.button-zone .button-remove {
    background-color: #DB4437;
    color: #FFF;
}

.button-zone .button-save {
    background-color: #0F9D58;
    color: #FFF;
    display: none;
}

#export-section {
    width: 100%;
    margin: 30px;
}

#export-section h5 {
    padding: 5px 0 3px 10px;
    font-weight: 200;
    color: #5c5c5c;
}

#export-section hr {
    width: 300px;
}

#export-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#export-type button {
    background-color: #376f98;
    margin: 10px;
    width: 100px;
    height: 35px;
    padding-top: 8px;
}
