table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #585858;
    text-align: left;
    padding: 8px;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td.delete {
    border: 1px solid #dddddd;
    text-align: left;
    color: red;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

header {
    background: url("image/background-lock.jpg") 500px 550px;
    background-size: cover;
    height: 200px;
}

.account {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: block;
    box-sizing: border-box;
    background: url(image/icons8-account-20.png) no-repeat 0 7px;

    border: none;
    outline: none !important;
    border-bottom: 1px solid #AAA;
    transition: 0.2s;
}