.box input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: block;
    box-sizing: border-box;
    background: url(image/icons8-account-20.png) no-repeat 0 7px;

    border: none;
    outline: none !important;
    border-bottom: 1px solid #3c4a55;
    transition: 0.2s;
}

.box input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: block;
    box-sizing: border-box;
    background: url(image/icons8-password-1-20.png) no-repeat 0 7px;

    border: none;
    outline: none !important;
    border-bottom: 1px solid #3c4a55;
}


input[type=text]:focus, input[type=password]:focus {
    border-bottom: 2px solid antiquewhite;
    color: black;
    transition: all ease-in-out 200ms;
}


button {
    background-color: #3c4a55;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

img {
    width: 100px;
    height: 35px;
}

.container-login {
    padding: 16px;
}


.box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 40px;
}


.box-content {
    background-color: ghostwhite;
    border: 1px solid #888;
    width: 400px;
    max-width: 96%;
    float: right;
    margin: 4% 2%;
    border-radius: 10px;
}


.social-media {
    margin-top: 30px;
    text-align: center;
}
.social-media a{
    padding: 5%;
    color: black;
}
.social-media #facebook:hover {
    color: #3b5998;
}

.social-media #google:hover {
    color: #DB4437;
}

.social-media #twitter:hover {
    color: #1da1f2;
}


.register_using {
    margin-top: 30px;
    display: flex;
    flex-direction: column ;
    margin-bottom: 20px;
}
.register_using span{
    text-align: center;
}
.register_using span a{
    text-decoration: none;
    color: black;
}
.register_using span a:hover{
    color: #DB4437;
}

span.forgot-pass {
    float: right;
    padding-top: 16px;
}

span.forgot-pass a {
    text-decoration: none;
    color: black;
}
span.forgot-pass a:hover{
    color: #DB4437;
}

.animate {
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and(max-width: 425px) {
    form.box-content {
        width: 300px;
    }
}