*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: url("image/background-lock.jpg")  500px;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px #222222;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    border-radius: 0 4px 4px 0;
}

h1 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5px;
    width: 220px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #3c4a55;
    font-weight: 400;
    font-size: 14px;
    transition: all ease-in-out 200ms;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid antiquewhite;
    color: black;
    transition: all ease-in-out 200ms;
}

input[type="submit"] {
    margin-top: 10px;
    width: 220px;
    height: 40px;
    background: #3c4a55;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.8;
    transition: 0.1s ease;
}


.or a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
}

.or {
    position: absolute;
    top: 175px;
    left: 275px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 20%;
    box-shadow: 0 2px 4px #222;
    line-height: 50px;
    text-align: center;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    cursor: pointer;
}

.or:hover {
    background: #DB4437;
    border-radius: 50%;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('image/register.jpg') center;
    background-size: cover;
    border-radius: 0 4px 4px 0;
}

.right .loginwith {
    display: block;
    margin-bottom: 23px;
    font-size: 28px;
    color: white;
    text-align: center;
}

button.social-media {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

button.social-media:hover {
    opacity: 0.9;
}

button.social-media.facebook {
    background: #32508E;
}

button.social-media.twitter {
    background: #55ACEE;
}

button.social-media.google {
    background: #DD4437;
}

.right .terms {
    display: block;
    margin-top: 23px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.right .terms a {
    text-decoration: none;
    color: white;
}

.right .terms a:hover {
    color: #DB4437;
}