*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: url("image/background-lock.jpg")  500px;
    background-size: cover;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: all ease-in-out 200ms;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid antiquewhite;
    color: antiquewhite;
    transition: all ease-in-out 200ms;
}

input[type="submit"] {
    margin-top: 28px;
    width: 220px;
    height: 32px;
    background: #3c4a55;
    border: none;
    border-radius: 4px;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.or a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
}

.or {
    position: absolute;
    top: 175px;
    left: 275px;
    width: 50px;
    height: 50px;
    background: #DDDDDD;
    border-radius: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.or:hover {
    background: #DB4437;
    border-radius: 50%;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('image/register.jpg') center;
    background-size: cover;
    border-radius: 0 2px 2px 0;
}

.right .loginwith {
    display: block;
    margin-bottom: 23px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
}

button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

button.social-signin:hover, button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    opacity: 1;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.google {
    background: #DD4437;
}

.right .terms {
    display: block;
    margin-top: 23px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.right .terms a {
    text-decoration: none;
    color: white;
}

.right .terms a:hover {
    color: #DB4437;
}